name: Build NeoTorrent Diamond
on:
  push:
    branches: [ main, master ]

jobs:
  build:
    # We use the NEW server (Instant Start)
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      # We fix the permissions so Docker doesn't complain about "User"
      - name: Fix Permissions
        run: |
          sudo chown -R $USER:$USER $GITHUB_WORKSPACE

      # We run the build INSIDE the official Kivy Container
      # This bypasses the OS incompatibility because the container has the old tools inside!
      - name: Build with Docker
        uses: docker://kivy/buildozer:latest
        with:
          args: buildozer android debug
        env:
          # We force it to run as root to avoid permission errors
          USER: root

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: NeoTorrent-Diamond-APK
          path: bin/*.apk
